# Example application configuration file
version = "1.0";

#correlate flows with links
stack:
{
 modules = (
   { id = 0; #id=0 must be switch
     lib = "switch";
     name = "switch_1";
     flows = []; #no output
     params = {}; 
     admin = 1; },
   { id = 1;
     lib = "interface";
     name = "interface_1";
     flows = [ 111, 222 ]; #[ipv4, arp]
     params = {}; },
   { id = 2;
     lib = "ipv4";
     name = "ipv4_1";
     flows = [333, 444, 555, 666]; #[interface, icmp, tcp, udp]
     params = {}; },
   { id = 3;
     lib = "arp";
     name = "arp_1";
     flows = [ 777 ]; #[interface]
     params = {}; },
   { id = 4;
     lib = "icmp";
     name = "icmp_1";
     flows = [888, 0, 101010, 111111]; #[ipv4, tcp, udp, daemon]
     params = {}; },
   { id = 5;
     lib = "tcp";
     name = "tcp_1";
     flows = [121212, 0, 141414]; #[ipv4, icmp, daemon]
     params = {}; },
   { id = 6;
     lib = "udp";
     name = "udp_1";
     flows = [151515, 161616, 171717]; #[ipv4, icmp, daemon]
     params = {}; },
   { id = 7;
     lib = "logger";
     name = "daemon_1";
     flows = [];#[181818, 191919, 202020]; #[icmp, tcp, udp]
     params = {}; },
   { id = 8;
     lib = "logger";
     name = "logger_1";
     flows = []; #no output
     params = {}; },
   { id = 9;
     lib = "rtm";
     name = "rtm_1";
     flows = [];
     params = {};
     admin = 1; }
 );

 links = (
   { id = 111; src = 1; dsts = [2]; }, #id can't be 0
   { id = 222; src = 1; dsts = [3]; },
   { id = 333; src = 2; dsts = [1]; },
   { id = 444; src = 2; dsts = [4]; },
   { id = 555; src = 2; dsts = [5]; },
   { id = 666; src = 2; dsts = [6]; },
   { id = 777; src = 3; dsts = [1]; },
   { id = 888; src = 4; dsts = [2]; },
   { id = 999; src = 4; dsts = [5]; },
   { id = 101010; src = 4; dsts = [6]; },
   { id = 111111; src = 4; dsts = [7]; },
   { id = 121212; src = 5; dsts = [2]; },
   { id = 131313; src = 5; dsts = [4]; },
   { id = 141414; src = 5; dsts = [7]; },
   { id = 151515; src = 6; dsts = [2]; },
   { id = 161616; src = 6; dsts = [4]; },
   { id = 171717; src = 6; dsts = [7]; },
   { id = 181818; src = 7; dsts = [4]; },
   { id = 191919; src = 7; dsts = [5]; },
   { id = 202020; src = 7; dsts = [6]; }
  );
};
